<div class="container">
        <!-- ARTICULO -->
       <div id="post"></div>

        <!-- ARTICULO -->

     <!-- COMENTARIO -->
        <div class="row mt-2">
            <div class="col-6">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Megaterios</h5>
                                <p class="card-text">Excelente Articulo !!!.</p>
                                <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="row no-gutters border border-white">
                    <div class="col-md-2">
                        <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Jose</h5>
                            <p class="card-text">De acuerdo con megaterios !!!.</p>
                            <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row no-gutters border border-white">
                        <div class="col-md-2">
                            <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Carlos</h5>
                                <p class="card-text">De acuerdo con megaterios !!!.</p>
                                <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <!-- COMENTARIO -->
             <!-- COMENTARIO -->
        <div class="row mt-2">
                <div class="col-6">
                    <div class="card">
                        <div class="row no-gutters">
                            <div class="col-md-2">
                                <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Megaterios</h5>
                                    <p class="card-text">Excelente Articulo !!!.</p>
                                    <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="row no-gutters border border-white">
                        <div class="col-md-2">
                            <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jose</h5>
                                <p class="card-text">De acuerdo con megaterios !!!.</p>
                                <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
            <div class="row">
                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="row no-gutters border border-white">
                            <div class="col-md-2">
                                <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="115" height="200" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Carlos</h5>
                                    <p class="card-text">De acuerdo con megaterios !!!.</p>
                                    <p class="card-text"><small class="text-muted">hace 3 min</small></p>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                <!-- COMENTARIO -->
    </div>

    <hr>


    </div>
