<div class="container">
        <!-- ARTICULO -->
        <div class="card mt-2">
            <img src="./plantilla_principal/images/articulo.jpg" width="1110" height="200">
            <div class="card-body">
                <div class="ml-2">
                    <h3><a href="http://localhost/blog-mg/plantilla_pricpal/articulo.html">WhatsApp desaparece del buscador de Google Play y de su perfil oficial
                            [Actualizado]</a></h3>
                </div>
                <p class="card-text">
                    WhatsApp ha desaparecido del buscador de Google Play. La aplicación sigue estando
                    disponible si entramos a través del enlace directo, pero al buscar WhatsApp directamente
                    en la Play Store no aparece ningún resultado. Un problema apreciable
                    también al acceder al perfil de WhatsApp Inc, que ahora no muestra la aplicación oficial.
                </p>
                <a href="#" class="btn btn-primary">Leer mas..</a>
            </div>
            <div class="card-footer">

                <div class="row">
                    <div class="col-6">
                        Publicado Por:
                        <img src="./plantilla_principal/images/usuario.png" class="img-thumbnail" width="40" height="200" alt="...">
                        <a>Duvan Botello</a>
                    </div>
                    <div class="col-6">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">(4) Me gusta</button>
                            <button type="button" class="btn btn-danger">(5) No me gusta</button>

                        </div>
                        <a class="text-muted ml-5">
                            Publicado hace 3 minutos
                        </a>
                    </div>

                </div>

            </div>
        </div>
        <!-- ARTICULO -->
        <!-- ARTICULO -->
        <div class="card mt-2">
                <img src="./plantilla_principal/images/articulo.jpg" width="1110" height="200">
                <div class="card-body">
                    <div class="ml-2">
                        <h3><a href="http://localhost/blog-mg/plantilla_pricpal/articulo.html">WhatsApp desaparece del buscador de Google Play y de su perfil oficial
                                [Actualizado]</a></h3>
                    </div>
                    <p class="card-text">
                        WhatsApp ha desaparecido del buscador de Google Play. La aplicación sigue estando
                        disponible si entramos a través del enlace directo, pero al buscar WhatsApp directamente
                        en la Play Store no aparece ningún resultado. Un problema apreciable
                        también al acceder al perfil de WhatsApp Inc, que ahora no muestra la aplicación oficial.
                    </p>
                    <a href="#" class="btn btn-primary">Leer mas..</a>
                </div>
                <div class="card-footer">
    
                    <div class="row">
                        <div class="col-6">
                            Publicado Por:
                            <img src="./plantilla_principal/images/usuario.png" class="img-thumbnail" width="40" height="200" alt="...">
                            <a>Duvan Botello</a>
                        </div>
                        <div class="col-6">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">(4) Me gusta</button>
                                <button type="button" class="btn btn-danger">(5) No me gusta</button>
    
                            </div>
                            <a class="text-muted ml-5">
                                Publicado hace 3 minutos
                            </a>
                        </div>
    
                    </div>
    
                </div>
            </div>
            <!-- ARTICULO -->
             <!-- ARTICULO -->
        <div class="card mt-2">
                <img src="../plantilla_principal/images/articulo.jpg" width="1110" height="200">
                <div class="card-body">
                    <div class="ml-2">
                        <h3><a href="http://localhost/blog-mg/plantilla_pricpal/articulo.html">WhatsApp desaparece del buscador de Google Play y de su perfil oficial
                                [Actualizado]</a></h3>
                    </div>
                    <p class="card-text">
                        WhatsApp ha desaparecido del buscador de Google Play. La aplicación sigue estando
                        disponible si entramos a través del enlace directo, pero al buscar WhatsApp directamente
                        en la Play Store no aparece ningún resultado. Un problema apreciable
                        también al acceder al perfil de WhatsApp Inc, que ahora no muestra la aplicación oficial.
                    </p>
                    <a href="#" class="btn btn-primary">Leer mas..</a>
                </div>
                <div class="card-footer">
    
                    <div class="row">
                        <div class="col-6">
                            Publicado Por:
                            <img src="../plantilla_principal/images/usuario.png" class="img-thumbnail" width="40" height="200" alt="...">
                            <a>Duvan Botello</a>
                        </div>
                        <div class="col-6">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">(4) Me gusta</button>
                                <button type="button" class="btn btn-danger">(5) No me gusta</button>
    
                            </div>
                            <a class="text-muted ml-5">
                                Publicado hace 3 minutos
                            </a>
                        </div>
    
                    </div>
    
                </div>
            </div>
            <!-- ARTICULO -->

        <nav aria-label="Page navigation example">
            <ul class="pagination mt-3">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>